build/*
build-clang/*
.vscode/*
.Xenoide
.DS_Store
.kdev4/
.build
.borc*
.vs/*
.cmake*
.idea/*
cmake-*
project/*
.cmake/*
.vscode/*
.bok/*
.borc/*
docs/bok.vpp.*
output.dot
docs/*.jpg
docs/*.lck
docs/*.vpp.b*
project/
build/
.xb/*
.DS_Store
.build/*
.Xenobuild/*
Xenobuild-Xcode/*
